/* Header CSS */
#container {
	display: flex;
	justify-content: space-between;
	font-family: "Montserrat";
}

ul {
	list-style-type: none;
}

#sign-in,
#signed-in,
#navlinks li a,
#navlinks li ul li a {
	color: #300109;
	text-decoration: none;
	font-size: 1.5rem;
}

#navlinks li #logo {
	font-size: 2rem;
}

#navlinks li {
	float: left;
	position: relative;
	padding: 20px 20px;
	line-height: 30px;
}

#navlinks li ul {
	position: absolute;
	display: none;
}

#navlinks li ul li {
	width: 15rem;
}

#navlinks li ul li:hover {
	background-color: #faf5f1;
	display: block;
}

#navlinks li:hover ul {
	display: block;
}

#logo {
	font-size: 2rem;
	line-height: 20px;
}

#sign-in,
#signed-in {
	margin-right: 100px;
	padding: 20px 0;
	font-size: 1.2rem;
}

/* Body CSS */
#getStarted {
	background-image: url("../images/home/cover_photo.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

#getStartedText {
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 2.5rem;
	color: #300109;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}

.homeButton {
	font-family: "Roboto";
	font-weight: 400;
	color: white;
	background-color: #e7706a;
	text-decoration: none;
	border: none;
	font-size: 1.2rem;
	padding: 0.8rem 3rem;
	cursor: pointer;
}

.homeButton:hover {
	background-color: #da5952;
}

#getStartedButton button {
	background-color: #e74037;
}
#getStartedButton button:hover {
	background-color: #ee554d;
}

#createFormContainer,
#answerFormContainer {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#answerFormContainer {
	justify-content: flex-start;
}

#createFormContent,
#answerFormContent {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	background-color: #faf5f1;
	width: 95%;
	height: 70%;
}

#answerFormContent {
	flex-direction: row-reverse;
}

#createFormText,
#answerFormText {
	width: 60rem;
}

#createFormTextHeader,
#answerFormTextHeader {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

#createFormTextDescription {
	font-size: 2.2rem;
}

#answerFormTextDescription {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

#createFormTextHeader,
#createFormTextDescription,
#answerFormTextHeader,
#answerFormTextDescription,
#dataReportsTextHeader,
#dataReportsTextDescription {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

#createFormTextReminder {
	font-family: "Karla", sans-serif;
	margin-bottom: 1.5rem;
}

#createFormImage img,
#answerFormImage img {
	width: 45rem;
}

#dataReportsContainer {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
}
#dataReportsContent {
	width: 100%;
	height: 70vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #faf5f1;
}

#dataReportsText {
	width: 55rem;
}

#dataReportsTextHeader {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

#dataReportsTextDescription {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

/* Footer CSS */
footer {
	width: 100%;
	background-color: #f8f0e9;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

footer section {
	padding: 1%;
}

#footerDescription {
	width: 20%;
	padding: 1%;
}

#descriptionLogo img {
	width: 250px;
}

#descriptionText {
	margin-top: 10px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

#footerDescription,
#footerCompany {
	flex-shrink: 4;
}

#companyLinks li,
#legalLinks li {
	margin-bottom: 1rem;
}

#companyLinks li a,
#legalLinks li a {
	font-family: "Montserrat", sans-serif;
	color: black;
	text-decoration: none;
}

#companyHeader,
#legalHeader {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

#footerSocmeds ul li {
	float: left;
	margin: 10px;
}

#copyright {
	flex-basis: 100%;
	width: 100%;
	background-color: #d7d6c2;
	font-family: "Robot", sans-serif;
	font-weight: 100;
	text-align: center;
}

#signInPage {
	width: 400px;
	height: 500px;
	background-color: #ffffff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: none;
}

#closeSignIn {
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	border: none;
	padding: 20px;
	font-size: 1.2rem;
	cursor: pointer;
}

#signInPage form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 3rem;
	font-family: "Roboto";
	font-size: 0;
	color: #300109;
}

#signInPage form label,
#signInPage form input {
	font-size: 1.2rem;
}

#signInPage form a {
	font-size: 0.9rem;
	text-decoration: none;
	color: #e74037;
	margin-bottom: 1rem;
}

#signInPage form h2 {
	font-size: 1.7rem;
	margin-bottom: 2rem;
}

#signInPage form input {
	height: 40px;
	margin-bottom: 2rem;
	float: left;
	box-shadow: -9px 9px 7px -8px rgba(0, 0, 0, 0.49);
	-webkit-box-shadow: -9px 9px 7px -8px rgba(0, 0, 0, 0.49);
	-moz-box-shadow: -9px 9px 7px -8px rgba(0, 0, 0, 0.49);
}

#signInPage form input:nth-of-type(2) {
	margin-bottom: 0.9rem;
}

#signInPage form h2 {
	font-family: "Montserrat";
}

#signInPage form button {
	background-color: #e74037;
	font-family: "Roboto";
	height: 2.4rem;
	color: #ffffff;
	font-size: 1rem;
	margin-bottom: 1rem;
}

#signInPage form p {
	font-size: 0.9rem;
	font-family: "Roboto";
}
/* modal */
#bgModal {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: black;
	opacity: 0.7;
	display: none;
}
