#registerContainerWrapper {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
}
#registerContainer {
	background-color: #f5f5f5;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 60vw;
	height: 70vh;
	padding: 5rem;
	position: relative;
}

#formContent {
	display: flex;
	justify-content: center;
}

#registerLeft {
	display: flex;
	flex-wrap: wrap;
	width: 45%;
	margin-right: 1rem;
}

#registerRight {
	display: flex;
	flex-direction: column;
	width: 45%;
	flex-wrap: wrap;
}

#registerEmail {
	flex-basis: 100%;
}

#registerName {
	width: 48%;
}

#registerLastName {
	width: 48%;
}

#registerNewPassword {
	flex-basis: 100%;
}

#registerConfirmPassword {
	flex-basis: 100%;
}

#registerLeft input,
#registerRight input,
#registerRight select,
#registerRight label {
	font-size: 1.5rem;
	height: 2rem;
	margin-bottom: 1rem;
}

#registerBirthday {
	width: 20%;
}

#registerBirthyear {
	width: 30%;
}

#registerNameSegment {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
}

#registerContact {
	width: 100%;
}

#header {
	font-family: "Montserrat";
	font-weight: 400;
}

#registerContainer form button {
	position: absolute;
	bottom: 0;
	right: 0;
	font-family: "Montserrat";
	background-color: #bd2039;
	color: #ffffff;
	font-size: 2rem;
	width: 12rem;
	margin: 50px;
	border: none;
}

body h1 {
	font-family: "Montserrat";
	font-weight: 400;
}
::placeholder {
	font-family: "Montserrat";
}

#genderSegment {
	display: flex;
	flex-direction: column;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	line-height: 20px;
	display: inline-block;
	color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #ddd;
	border-radius: 100%;
	background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
	content: "";
	width: 12px;
	height: 12px;
	background: #bd2039;
	position: absolute;
	top: 4px;
	left: 4px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
[type="radio"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
